<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wkd.examples.dao.SearchHistoryDAO">
    <select id="querySearchHistoryByUid" parameterType="int" resultType="cn.wkd.examples.domain.SearchHistory">
        select id ,
            uid ,
            search ,
            sTime
          from search_history
          where uid = #{uid};
    </select>

    <delete id="clearSearchHistoryByUid" parameterType="int">
        delete
        from search_history
        where uid = #{uid};
    </delete>

    <insert id="addSearchHistory" parameterType="cn.wkd.examples.domain.SearchHistory">
        insert into search_history(
            uid,
            search,
            sTime
        )values (
            #{uid},
            #{search},
            #{sTime}
        );
    </insert>
</mapper>